<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GaaS Console</title>
    <link
        href="{{endpoints.console}}/css/normalize.min.css"
        integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw="
        rel="stylesheet"
    />
    <link
        href="{{endpoints.console}}/css/milligram.min.css"
        integrity="sha256-MImiYdwGVM+OmGTteE4GbytuMAMIkgARijLqaBF1FM0="
        rel="stylesheet"
    />
    <link href="{{endpoints.console}}/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <main class="wrapper">
        <h2 class="title">Welcome to GaaS!</h2>
        <section id="keySection" class="container" style="display: none">
            <p>Your key's id is:</p>
            <pre><code id="keyId"></code></pre>
            <p>Your key's sha256 fingerprint is:</p>
            <pre><code id="fingerprint"></code></pre>
            <p>Your key is good until:</p>
            <pre><code id="until"></code></pre>
        </section>
    </main>
</div>

<!-- superagent 3.0.0 -->
<script
    src="{{endpoints.console}}/js/superagent.min.js"
    integrity="sha256-m8kXJRap0QWyl4ZLRGUGDwgnmZOYGY0Vf6IQp/NSrjY="
    type="application/javascript"
></script>
<!-- gaasKeys, gaasKeyStore, api -->
<script src="{{endpoints.console}}/js/gaas.js" type="text/javascript"></script>
<script type="application/javascript">
    "use strict";
    var el = document.getElementById.bind(document);

    Client.loadActiveUser()
    .then(function(client) {return client.getKey();})
    .then(function(response) {
        console.log(response);
        if (response.ok) {
            el("keyId").textContent = response.body.key_id;
            el("fingerprint").textContent = response.body.fingerprint;
            el("until").textContent = (new Date(response.body.until)).toLocaleTimeString();
            el("keySection").style.display = "";
        } else {
            console.log("Failed to validate key!");
            console.log(response);
        }
    })
    .catch(console.log);
</script>
</body>
</html>
