<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GaaS Login</title>
    <link
        href="{{endpoints.console}}/css/normalize.min.css"
        integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw="
        rel="stylesheet"
    />
    <link
        href="{{endpoints.console}}/css/milligram.min.css"
        integrity="sha256-MImiYdwGVM+OmGTteE4GbytuMAMIkgARijLqaBF1FM0="
        rel="stylesheet"
    />
    <link href="{{endpoints.console}}/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <main class="wrapper">
        <h2 class="title">Login to GaaS</h2>
        <form action="#" id="login-form">
            <fieldset>
                <label for="login-username">Username</label>
                <input id="login-username" type="text">
                <label for="login-password">Password</label>
                <input id="login-password" type="password">
                <input id="login-button" class="button-primary" value="send" type="submit">
                <div id="login-error" class="container" style="display: none">Incorrect username or password.</div>
            </fieldset>
        </form>
    </main>
</div>

<!-- superagent 3.0.0 -->
<script
    src="{{endpoints.console}}/js/superagent.min.js"
    integrity="sha256-m8kXJRap0QWyl4ZLRGUGDwgnmZOYGY0Vf6IQp/NSrjY="
    type="application/javascript"
></script>
<!-- gaasKeys, gaasKeyStore, api -->
<script src="{{endpoints.console}}/js/gaas.js" type="text/javascript"></script>
<!-- login form -->
<script type="application/javascript">
    "use strict";
    var el = document.getElementById.bind(document);
    var $username = el("login-username");
    var $password = el("login-password");
    var $loginButton = el("login-button");
    var $loginStatus = el("login-error");

    $loginButton.removeAttribute("disabled");

    // Submit form against the API, not the console
    el("login-form").addEventListener("submit", function(event) {
        event.preventDefault();
        $loginButton.setAttribute("disabled", true);
        var username = $username.value,
            password = $password.value;

        var FAIL = console.log;
        api.login(username, password)
        .then(function() {return gaasKeyStore.setActiveUser(username);})
        .then(function () {
            $loginButton.removeAttribute("disabled");
            $loginStatus.style.display = "none";
            window.location.href = "{{endpoints.console}}/console";
        })
        .catch(function (event) {
            $loginButton.removeAttribute("disabled");
            $username.value = "";
            $password.value = "";
            $loginStatus.style.display = "";
            FAIL(event);
        })
        .catch(FAIL);
    });
</script>

</body>
</html>
